* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}


@media (min-width:320px)  {

    .Enquiries_nav{
        margin-top: 1em;
    }

    
    .Enquiries_nav_line{
        border: 0.3em solid #F2545B;
       width: 6em;
       border-radius: 20px;
       position: relative;
        left: 100px; 
    }


    .nav__header {
        margin-bottom: 5rem;
    }

    .form__subtitle {
        font-size: 21px;
        margin-bottom: 2rem;
    }

    .btn__group {
        background-color: #E4E5E6;
        width: fit-content;
        margin: 0 auto 3rem auto;
        padding: 4px;
    }


     
    .btn__group a button:active{
        background-color: #F2545B;
        color: white;
    }
    
    .btn__group a button:hover{
        background-color: #F2545B;
        color: white;
    }

    .form {
        margin: 0 auto;
        padding: 1rem;
        background-color: #F8F9FA;
    }

.form__header {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.sub__text {
    margin-bottom: 1.5rem;
}

.form__row {
    margin-bottom: 2rem;
}
.form__item label, .form__item input{
    display: block;
}




    
.form__item input {
    width: 100%;
    border: 1px solid #D9E1EC;
    padding: 1rem 1rem;
    outline: none;
}

#message {
    width: 100%;
    height: 10rem;
    border: 1px solid #D9E1EC;
    outline: none;
}

.form__item textarea {
    padding: 1rem;
}

.sub_btn button {
    background-color: #F2545B;
    color: #FFFFFF;
    outline: none;
    border: 1px;
    width: 17em;
    padding: 0.5em;
}







    
    
    /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  {

    .Enquiries_nav{
        margin-top: 6em;
    }

    .Enquiries_nav_line{
        border: 0.3em solid #F2545B;
       width: 6em;
       border-radius: 20px;
       position: relative;
        left: 300px; 
    }

    .nav__header {
        margin-bottom: 5rem;
    }

    .form__subtitle {
        font-size: 21px;
        margin-bottom: 2rem;
    }

    .btn__group {
        background-color: #E4E5E6;
        width: fit-content;
        margin: 0 auto 3rem auto;
        padding: 4px;
    }

    
    .btn__group a button:active{
        background-color: #F2545B;
        color: white;
    }
    
    .btn__group a button:hover{
        background-color: #F2545B;
        color: white;
    }

    
.form {
    width: 90%;
    margin: 0 auto;
    padding: 4rem;
    background-color: #F8F9FA;
}

.form__header {

    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.sub__text {
    margin-bottom: 1.5rem;
}

.form__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.form__item {
    flex-basis: 48%;
}

.form__item1 input {
    width: 100%;
    border: 1px solid #D9E1EC;
    padding: 1rem 1rem;
    outline: none;
    margin-bottom: 2rem;
}


.form__item label{
    display: block;
    font-size: 14px;
}

.form__item input {
    width: 100%;
    border: 1px solid #D9E1EC;
    padding: 1rem 1rem;
    outline: none;
}

#message {
    width: 100%;
    height: 10rem;
    border: 1px solid #D9E1EC;
    outline: none;
}

.form__item textarea {
    padding: 1rem;
}
  

.sub_btn button {
    background-color: #F2545B;
    color: #FFFFFF;
    outline: none;
    border: 1px;
    width: 17em;
    padding: 0.5em;
}
    
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1024px) {

    

.Enquiries_nav{
    margin-top: 6em;
}

.Enquiries_nav_line{
    border: 0.3em solid #F2545B;
    width: 10em;
    border-radius: 20px;
    position: relative;
    left: 500px;
}

.nav__header {
    margin-bottom: 5rem;
}

.form__title {
    margin-bottom: 1rem;
    font-size: 42px;
}

.form__subtitle {
    font-size: 21px;
    margin-bottom: 2rem;
}

.btn__group {
    background-color: #E4E5E6;
    width: fit-content;
    margin: 0 auto 3rem auto;
    padding: 4px;
}


.btn__group a button:active{
    background-color: #F2545B;
    color: white;
}

.btn__group a button:hover{
    background-color: #F2545B;
    color: white;
}



.form {
    width: 90%;
    margin: 0 auto;
    padding: 4rem;
    background-color: #F8F9FA;
}

.form__header {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.sub__text {
    margin-bottom: 1.5rem;
}

.form__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.form__item {
    flex-basis: 48%;
}

.form__item1 input {
    width: 100%;
    border: 1px solid #D9E1EC;
    padding: 1rem 1rem;
    outline: none;
    margin-bottom: 2rem;
}

.form__item label{
    display: block;
    font-size: 14px;
}

.form__item input {
    width: 100%;
    border: 1px solid #D9E1EC;
    padding: 1rem 1rem;
    outline: none;
}

#message {
    width: 100%;
    height: 10rem;
    border: 1px solid #D9E1EC;
    outline: none;
}

.form__item textarea {
    padding: 1rem;
}



.sub_btn button {
    background-color: #F2545B;
    color: #FFFFFF;
    outline: none;
    border: 1px;
    width: 17em;
    padding: 0.5em;
}

  
    
    
    /* big landscape tablets, laptops, and desktops */ }

